.datepicker {
    margin: 0 5px;
}

.datepicker .btn-default {
    border-width: 0;
    box-shadow: none;
}

.datepicker .btn[disabled] {
    opacity: 0.4;
}

.datepicker .btn-info .text-info {
    color: #fff !important;
}

.datepicker table:focus{
    outline-color: transparent !important;
}